// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;


@font-face {
  font-family: CSChatThai;
  src: url(../fonts/cschatthai/CSChatThai.ttf);
}
