// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$cschatthai: "CSChatThai", Arial, sans-serif;
$csprajad: "CSPraJad", Arial, sans-serif;
$inconsolata: "Inconsolata", monospace, 'Bitstream Vera Sans Mono', 'Courier';