---
layout: default
comment: false
---
<style>
.tags {
  display:inline-block;
  font-size: 1.25rem;
  /*font-weight: bold;*/
  color: #4183C4;
}
.tag {
  line-height: 1.4;
  display: inline-block;
  background-color: #FFF;

  padding: 0px 11px;
  margin: 10px 3px 0 0;
  border-radius: 2px;
  border: solid 1px #EEE;
}
</style>

<article class="post">
  <h1 style="margin-bottom:0">{{ page.title }}</h1>
  <div class="date">
    {{ page.date | date: "%e %b %Y, %H:%M" }}
    <br>
    {% if page.modified %}
    [modified - {{ page.modified | date: "%e %b %Y, %H:%M"}}]
    {% endif %}
  </div>

  <div class="entry">
    {{ content }}

    <center>
      <div class="tags">
        <!-- {{ page.tags | join: '   ' }} -->

        {% for tag in page.tags %}
          <div class="tag">
            {{tag}}
          </div>
        {% endfor %}
      </div>
    </center>
  </div>

  {% include disqus.html %}
</article>
